body {
   display: flex;
   flex-direction: column;
   align-items: center;
   font-family: Arial light;
}

#visor {
   background-color: #bdffb4;
   border: solid black 1px;
   text-align: right;
}

h1 {
   font-size: 13pt;
   padding: 10px 25px;
   text-align: center;
   border: solid 3px #000000;
   border-radius: 15px;
}

table {
   margin: 0 auto 0 auto;
}

form fieldset {
   margin: 10px auto 10px auto;
   width: 90%;
   border: solid black 1px;
   border-radius: 9px;
   padding: 4%;
   margin-bottom: 10px;
}

form input {
   width: 97%;
   border: solid #ccc 1px;
   font-size: 24px;
   margin-bottom: 10px;
}

form input.num {
   display: block;
   border: solid black 1px;
   border-radius: 5px;
   padding: 5px;
   width: 50px;
   height: 50px;
}

form input.oper {
   display: block;
   border: solid black 1px;
   border-radius: 5px;
   padding: 5px;
   width: 50px;
   height: 50px;
   background-color: #b2b2b2;
}
